@import url(https://fonts.googleapis.com/css2?family=Montserrat&display=swap);

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* !! CUSTOM CSS !! */

.App, #root, html, body {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* LOGIN */

.login-page-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  align-items: center;
  background-color: #f8f8f8;
  border-radius: 0px 20px 20px 0px;
}

.login-form-inner {
  margin: auto;
}

.login-msg {
  text-align: left;
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.sub-login-msg {
  color: #7a7a7a;
}

.login-inp {
  width: 20rem;
  margin: .5rem 0rem;
  height: 2.5rem;
  border: 1px solid #e2e4e7;
  border-radius: 5px;
  padding: .3rem;
}

.remember-me-grp {
  margin-top: .5rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  color: #7a7a7a;;
}

.login-google-btn {
  width: 100%;
  padding: .5rem;
  background-color: #5085ec;
  color: #d9e4fb;
  border-radius: 5px;
}

.login-btn {
  width: 100%;
  padding: .5rem;
  background-color: #309ee3;
  color: #d9e4fb;
  border-radius: 5px;
  margin-top: 5rem;
}